<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-2.1.1.js"> </script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"> </script>

    <title>Home</title>
</head>



<body>
<style type="text/css">
    .centrediv{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }
    .login{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .blog{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        text-align: center;

    }

</style>

<nav class = "navbar navbar-default navbar-fixed-top" role='navigation'>
    <ul class="nav navbar-nav">
        {% if user != None %}
        <a class ="navbar-brand" href="#">{{ user.username }}</a>
        <li><a href="#">Add Blog!</a></li>
        {% endif %}
        <li><a href="#" data-toggle="modal" data-target="#login">Login!</a></li>
    </ul>
</nav>

<div class="page-header centrediv">
    <h1>Blog Article</h1>
</div>

<div class="blog well">
    {% for blogs in blog %}
        <div>

            <div class ='page-header'>
                    <h3>{{ blogs.title }}</h3>
                    <small>{{ blogs.author }}</small>
            </div>
            {{ blogs.blog_content }}
        </div>
        {% endfor %}
</div>
<div class="'modal fade" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-body login">
                    <b>Username</b>
                    <label>
                        <input class="form-control" name ='username'/>
                    </label>
                    <b>Password:</b>
                    <label>
                        <input type="password" class="form-control" name="password">
                    </label>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success pull-left" value="Login!"/>
                </div>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
    </div>
</div>
</body>
</html>